pipeline/13_pl_convert_array_to_string.json
{
	"name": "13_pl_convert_array_to_string",
	"properties": {
		"activities": [
			{
				"name": "LookupEmails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generic_parameter_csv",
						"type": "DatasetReference",
						"parameters": {
							"directory": "13_pl_convert_array_to_string/Input/",
							"file_name": "13_emails.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachEmails",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupEmails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupEmails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Emails",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set TmpEmail",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "emails",
								"value": {
									"value": "@variables('tmp_emails')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set TmpEmail",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tmp_emails",
								"value": {
									"value": "@concat(item().email,';',variables('emails'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"emails": {
				"type": "String"
			},
			"tmp_emails": {
				"type": "String"
			}
		},
		"annotations": []
	}
}